:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-header {

}

mat-sidenav-container {
  padding-top: 100px;
  height: 100%;
  background-color: #f5fafa;
}

mat-sidenav {
  width: 200px;
  top: 100px !important;
  //background-color: #c5c9cc;
}
